# Personal gitconfig
[includeIf "gitdir:~/personal/"]
  path = ~/personal/.gitconfig-personal
[includeIf "gitdir:~/projects/"]
  path = ~/personal/.gitconfig-personal
[includeIf "gitdir:/mnt/c/Users/*/"]
  path = ~/personal/.gitconfig-personal

[includeIf "gitdir:~/.dotfiles/"]
  path = ~/personal/.gitconfig-personal
[includeIf "gitdir:~/personal/"]
  path = ~/personal/.gitconfig-personal
[includeIf "gitdir:~/.config/"]
  path = ~/personal/.gitconfig-personal

# Because of the way go get works, we also need to set this in the global gitconfig
[includeIf "gitdir:~/.go/"]
  path = ~/work/.gitconfig-work

[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig-work

[alias]
  dt = "! args=$@; shift $#; nvim -c \"DiffviewOpen $args\""

[core]
  editor = nvim
  pager = bat

[push]
  autoSetupRemote = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = stable
[coderabbit]
	machineId = cli/eaf149701d154e1a9902dd745bb5f0bb
