# Personal gitconfig
[includeIf "gitdir:~/.dotfiles/"]
  path = ~/dev/.gitconfig-personal
[includeIf "gitdir:~/dev/"]
  path = ~/dev/.gitconfig-personal
[includeIf "gitdir:~/.config/nvim/"]
  path = ~/dev/.gitconfig-personal
[includeIf "gitdir:/mnt/c/Users/*/"]
  path = ~/dev/.gitconfig-personal

# Because of the way go get works, we also need to set this in the global gitconfig
[includeIf "gitdir:~/.go/"]
  path = ~/work/.gitconfig-work

[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig-work

[alias]
  dt = "! args=$@; shift $#; nvim -c \"DiffviewOpen $args\""
  dtt = "! args=$@; shift $#; nvim -c \"DiffviewOpen $args\" -c \"Codeium Disable\""

[core]
  editor = nvim
  pager = bat

[push]
  autoSetupRemote = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
