[submodule "work.dotfiles"]
	path = work.dotfiles
	url = git@github.com:SolomonRosemite/work.dotfiles.git
[submodule "ssh.dotfiles"]
	path = ssh.dotfiles
	url = git@github.com:SolomonRosemite/ssh.dotfiles.git
