[submodule "work.dotfiles"]
	path = work.dotfiles
	url = git@github.com:SolomonRosemite/work.dotfiles.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:SolomonRosemite/nvim.git
