// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
    normal {
        unbind "Ctrl p"
        unbind "Ctrl q"
        unbind "Ctrl o"
        unbind "Ctrl h"

        // zellij does not support multiple modifier keys - see issue and used workaround: https://github.com/zellij-org/zellij/issues/735#issuecomment-1973177193
        // keys send from auto hotkey - see .win.dotfiles
        bind "" { GoToTab 1; }
        bind "" { GoToTab 2; }
        bind "" { GoToTab 3; }
        bind "" { GoToTab 4; }

        bind "" { GoToTab 5; }
        bind "" { GoToTab 6; }
        bind "" { GoToTab 7; }
        bind "" { GoToTab 8; }

        bind "" { GoToTab 9; }
        bind "" { GoToTab 10; }
        bind "" { GoToTab 11; }
        bind "" { GoToTab 12; }

        bind "" { MoveFocus "Left"; }
        bind "" { MoveFocus "Right"; }

        bind "" { MoveTab "Left"; }
        bind "" { MoveTab "Right"; }

        bind "" { NewPane; SwitchToMode "Normal"; }

        bind "" { NewTab; }
        bind "" { Detach; }

        bind "" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
    }
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }
    resize {
        bind "Ctrl n" { SwitchToMode "Normal"; }
        bind "h" "Left" { Resize "Increase Left"; }
        bind "j" "Down" { Resize "Increase Down"; }
        bind "k" "Up" { Resize "Increase Up"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    pane borderless=true {
    }
    move {
    }
    tab {
        bind "Tab" { ToggleTab; }
    }
    scroll {
        bind "Ctrl s" { SwitchToMode "Normal"; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }
    search {
        bind "Ctrl s" { SwitchToMode "Normal"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    renametab {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    renamepane {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
    session {
        bind "Ctrl o" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "d" { Detach; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
    }
    tmux {
        bind "[" { SwitchToMode "Scroll"; }
        bind "Ctrl b" { Write 2; SwitchToMode "Normal"; }
        bind "\"" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "%" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "c" { NewTab; SwitchToMode "Normal"; }
        bind "," { SwitchToMode "RenameTab"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "o" { FocusNextPane; }
        bind "d" { Detach; }
        bind "Space" { NextSwapLayout; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
    }
    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Alt n" { NewPane; }
        bind "Alt i" { MoveTab "Left"; }
        bind "Alt o" { MoveTab "Right"; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
    }
    shared_except "normal" "locked" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "pane" "locked" {
        bind "Ctrl ü" { SwitchToMode "Pane"; }
    }
    shared_except "resize" "locked" {
        bind "Ctrl n" { SwitchToMode "Resize"; }
    }
    shared_except "scroll" "locked" {
        bind "Ctrl s" { SwitchToMode "Scroll"; }
    }
    shared_except "session" "locked" {
        bind "Ctrl o" { SwitchToMode "Session"; }
    }
    shared_except "tab" "locked" {
        bind "Ctrl t" { SwitchToMode "Tab"; }
    }
    shared_except "tmux" "locked" {
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }

    shared_except "locked" {
        bind "Ctrl y" {
            LaunchOrFocusPlugin "https://github.com/karimould/zellij-forgot/releases/latest/download/zellij_forgot.wasm" {
                "lock"                  "ctrl + g"
                "unlock"                "ctrl + g"
                "new pane"              "ctrl + p + n"
                "change focus of pane"  "ctrl + p + arrow key"
                "close pane"            "ctrl + p + x"
                "rename pane"           "ctrl + p + c"
                "toggle fullscreen"     "ctrl + p + f"
                "toggle floating pane"  "ctrl + p + w"
                "toggle embed pane"     "ctrl + p + e"
                "choose right pane"     "ctrl + p + l"
                "choose left pane"      "ctrl + p + r"
                "choose upper pane"     "ctrl + p + k"
                "choose lower pane"     "ctrl + p + j"
                "new tab"               "ctrl + t + n"
                "close tab"             "ctrl + t + x"
                "change focus of tab"   "ctrl + t + arrow key"
                "rename tab"            "ctrl + t + r"
                "sync tab"              "ctrl + t + s"
                "brake pane to new tab" "ctrl + t + b"
                "brake pane left"       "ctrl + t + ["
                "brake pane right"      "ctrl + t + ]"
                "toggle tab"            "ctrl + t + tab"
                "increase pane size"    "ctrl + n + +"
                "decrease pane size"    "ctrl + n + -"
                "increase pane top"     "ctrl + n + k"
                "increase pane right"   "ctrl + n + l"
                "increase pane bottom"  "ctrl + n + j"
                "increase pane left"    "ctrl + n + h"
                "decrease pane top"     "ctrl + n + K"
                "decrease pane right"   "ctrl + n + L"
                "decrease pane bottom"  "ctrl + n + J"
                "decrease pane left"    "ctrl + n + H"
                "move pane to top"      "ctrl + h + k"
                "move pane to right"    "ctrl + h + l"
                "move pane to bottom"   "ctrl + h + j"
                "move pane to left"     "ctrl + h + h"
                "search"                "ctrl + s + s"
                "go into edit mode"     "ctrl + s + e"
                "detach session"        "ctrl + o + w"
                "open session manager"  "ctrl + o + w"
                floating true
            }
        }
    }
}

theme "catppuccin"

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}
